# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[package]
name = "raytracer"
version = "0.1.0"
edition = "2021"

[dependencies]
iced = {version = "0.4.2", features = ['debug']}
